<div class="modal fade"> 
  <div class="modal-dialog">  
    <div class="modal-content">  
      <div class="modal-header">  
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>  
        <h3 class="modal-title">About</h3>  
      </div>  
      <div class="modal-body">
        <h4>Tweeter visualizes tweet sentiment in realtime. d3.js, socket.io, twitter streaming API, along with mongoDB, express, angular, and node.js were utilized in building this project. Built by Samuel Starbuck Hastings. Click the twitter logo to sign-in with your twitter account (this app requires a twitter account).</h4>
      </div>  
    </div>  
  </div>  
</div>
