<div class="modal fade"> 
  <div class="modal-dialog">  
    <div class="modal-content">  
      <div class="modal-header">  
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>  
        <h3 class="modal-title">About</h3>  
      </div>  
      <div class="modal-body">
        <h4>Tweeter visualizes realtime sentiment from tweets. Get started by entering a keyword of your choice in the keyword input box and press the start button (<i class="fa fa-power-off"></i>).<br><br> Tweeter will start graphing sentiment data parsed from tweets about your keyword in realtime. Tweets that are positive are represented above the x axis while negative tweets will appear below it. Time is charted on the y-axis.<br><br> Click the circular "M" button above the graph to see where the tweets are coming from. See the color gradient at the top of the screen for scale; green represents positive, red represents negative, and yellow represents neutral sentiment. The darker the color the more positive/negative the sentiment. <br><br> Click the circular "D" to see more data about the tweet stream. <br><br>Click the reset button (<i class="fa fa-refresh"></i>) to reset and search again.</h4>
      </div>  
    </div>  
  </div>  
</div>
