<h1>Logged in!</h1>

<a href="/logout">Logout</a>


<div ng-controller="TweetController" class="content">
  <form ng-submit="getTweets(vm.keyword)">
    <label for="keyword">#keyword</label>
    <input type="text" ng-model="vm.keyword" id="task">
    <input type="submit" value="get tweets">
  </form>

  <div ng-repeat="t in tweets">
    <p>{{t.user.screen_name}} {{t.text}} {{t.user.location}}</p>
  </div>

</div>

  <!-- <label for="task">Task</label>
    <input type="text" ng-model="todo.task" id="task">
    <input type="submit" value="Add todo">
  <input type="text">
  
  <button type="button" ng-click="findTweets()">Get Tweets</button>
    <span ng-repeat="tweet in tweets">

    </span>

</div> -->

    <!-- <h2>total count: {{count}}</h2>
    <h3>
      <span style="color:green"> Love: {{countLove}}</span>
      <span style="color:red"> Hate: {{countHate}}</span>
      <span> Love and Hate: {{countMiddle}}</span>
      <span> Uncountable tweets: {{countPass}}</span>
    </h3>
    <div ng-repeat="t in twitts">
      <p style="color:{{t.color}}">{{t.user.screen_name}}:{{t.user.text}} {{t.user.location}}</p>
    </div>
    <button ng-click="start()">start</button>
    <button ng-click="stop()">stop</button>
    <div id="map"></div> -->