<!-- NAVBAR -->
<header class="navbar navbar-inverse bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header pull-left">
      <a href="./" class="navbar-brand"><i class="fa fa-twitter-square brandLogo"></i> Tweeter</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <div ng-controller="ModalController">
        <ul class="nav navbar-nav navbar-right pull-right">
          <li><a href="#" class="help" ng-click="toggleModal()"><i class="fa fa-question-circle fa-3x"></i></a></li>
          <li><a class="logout" href="/logout">Logout <i class="fa fa-sign-out"></i></a></li>
          <modal visible="showModal"></modal>
        </ul>
      </div>
    </nav>
  </div>
</header>

<div ng-controller="TweetController" class="container-fluid">

  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-xs-1"><i class="fa fa-minus-circle fa-5x"></i></div>
      <div class="col-xs-10 colorBar"></div>
      <div class="col-xs-1"><i class="fa fa-plus-circle fa-5x"></i></div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row" ng-controller="TabController">
      <div class="col-xs-8 graphContainer">
        <ul class="nav nav-pills">
          <li ng-class="{ active: isSet(1) }">
            <a href id="graphPill" ng-click="setTab(1)">G</a>
          </li>
          <li ng-class="{ active: isSet(2) }">
            <a href id="mapPill" ng-click="setTab(2)">M</a>
          </li>
          <li ng-class="{ active: isSet(3) }">
            <a href id="dataPill" ng-click="setTab(3)">D</a>
          </li>
        </ul>
        <div ng-show="isSet(1)">
          <div linear-chart chart-data="graphData"></div>
        </div>
        <div ng-show="isSet(2)">
          <div map-chart map-data="mapData"></div>
        </div>
        <div ng-show="isSet(3)">
          <div class="dataContainer">
            <h3 class="data">Total Tweet Count: {{count}}</h3>
            <h3 class="data" id="posT">Positive Tweets: {{posTweets}}</h3>  
            <h3 class="data" id="negT">Negative Tweets: {{negTweets}}</h3>  
            <h3 class="data" id="neutT">Neutral Tweets: {{neutTweets}}</h3>  
            <h3 class="data" ng-class="{'pos': sentScore > 0, 'neut': sentScore === 0, 'neg': sentScore < 0}">Overall Sentiment Score: {{sentScore}}</h3>  
          </div>
        </div>
      </div>
      <div class="col-xs-4 tweetContainer">
        <form>
          <input type="text" ng-model="vm.keyword" id="keywordInput" placeholder="Enter a Keyword" autofocus>
          <button class="btn btn-default" type="submit" id="keywordBtn" ng-click="getTweets(vm.keyword)" ng-class="{'activeBtn': startBtnIsActive, 'inactiveBtn': !startBtnIsActive}" ng-disabled="!vm.keyword || streamCount >= 2"><i class="fa fa-power-off fa-2x"></i></button>
          <span class="btn btn-default" id="resetBtn" ng-click="resetData(); vm.keyword = ''" ng-disabled="startBtnIsActive"><i class="fa fa-refresh fa-2x"></i></span>
        </form>
        
        <div ng-repeat="t in tweets track by $index">
          <div class="tweetStream">
            <span id="tUsername">@{{t.user.screen_name}}: </span> 
            <span id="tText">{{t.text}}</span> 
            <!-- <span id="tLocation">{{t.user.location}}</span> -->
            <span id="tScore" ng-class="{'pos': t.score > 0, 'neut': t.score === 0, 'neg': t.score < 0}">Score: {{t.score}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  
