<!-- NAVBAR -->
<header class="navbar navbar-inverse bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header pull-left">
      <a href="./" class="navbar-brand"><i class="fa fa-twitter-square"></i> Tweeter</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <!-- <ul class="nav navbar-nav navbar-center">
        <li>?</li>
      </ul> -->
      <!-- <div ng-controller="AboutModalController"> -->

        <ul class="nav navbar-nav navbar-right pull-right">
          <!-- <li><a href=""></a>?</li> -->
          <!-- <li><a href="#" class="help"><i class="fa fa-question-circle fa-3x"></i></a></li> -->
          <!-- <li><a href="#" class="about" ng-click="toggleAboutModal()">About</i></a></li> -->
          
        <!-- <aboutmodal visible="showAboutModal"></aboutmodal> -->
       <!--  <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Components</a>
        </li> -->
        <!-- <li>
          <a href="#">JavaScript</a>
        </li> -->
        <!-- <li class="active">
          <a href="#">Customize</a>
        </li> -->
      </ul>
      <!-- </div> -->
    </nav>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <div class="text-center signIn" ng-click="authenticate('twitter')"><i id="signInBtn" class="fa fa-twitter-square"></i></div>
      <h1 class="signInHeader">Welcome to Tweeter</h1>
    </div>
  </div>
</div>

<!-- <button ng-click="authenticate('twitter')">Sign in with Twitter</button> -->

